*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  margin: 20px 5px 20px 5px;
  padding: 20px 5px 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.todo-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  border: solid 3px;
  border-radius: 50px;
  width: 22rem;
}

label{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#name, #description, .due{
  margin: 5px;
  padding: 5px 25px 5px 25px;
  text-align: center;
}

#new-todo-button{
  margin: 1rem;
  background-color: cadetblue;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  padding: 1rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  border: solid 3px;
  border-radius: 50px;
}

.todo-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.description, .name, .due-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  border: solid 3px;
  width: 22rem;
}



.buttons-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  margin: 0.3rem;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  width: 7rem;
}

.button:hover{
  opacity: 0.8;
}

#comlete{
  background-color: green;
}

#delete{
  background-color: red;
}
#edit{
  background-color: cadetblue;
}

.progress-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
  border: solid 3px;
}

.progress-bar{
  background-color: red;
  margin:0.3rem;
  border-radius: 50px;
  width: 5rem;
  height: 1rem;
}

@media (min-width: 930px) {
  
  .todo-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } 
}

@media (min-width: 1330px) {
  
  .todo-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  } 
}
